body {
  background-color: #c9ced2 !important;
  background: url('https://res.cloudinary.com/elite-web-services/image/upload/v1651168888/SL_042620_30310_15_q1z153.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

/* NAVBAR START */

.navbar {
  width: 100%;
  height: 5rem;
}

#expandedNavbar {
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
  z-index: 999;
}

.loginRegisterRedirect:hover {
  cursor: pointer;
}

#loginLogoutLink:hover {
  cursor: pointer;
}

.errorMessage {
  color: red;
  font-weight: 900;
}

/* NAVBAR END */
/* MAIN START */
main {
  height: 100vh !important;
  overflow: hidden;
  /* position: relative; */
}

.main {
  flex-grow: 1;
  height: 100%;
  overflow-y: scroll;
}

.content {
  height: calc(calc(100vh - 5rem));
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.app-container h1 {
  color: var(--green);
  text-align: center;
  padding: 1rem;
}

.back-button {
  margin: 1rem 0 0 1rem;
}

.card-body {
  background-color: rgb(246, 246, 246);
}

.my-row {
  display: flex;
  flex-wrap: wrap;
}

.my-row > * {
  flex-shrink: 0;
  max-width: 100%;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.rounded-circle:hover {
  transform: scale(1.15);
  cursor: pointer;
  transition: 0.5s;
}

.usersLink {
  padding: 0 !important;
}

.usersLink:hover {
  cursor: pointer;
}

/* MAIN END */

/* CART START */
.transparentLayer {
  background-color: rgba(255, 255, 255, 0.7);
  height: 100%;
}

.cartCard h2,
h4 {
  color: green;
}

.cartCardImg {
  background-size: cover;
  background-repeat: no-repeat;
}
/* CART END */

/* SIDEBAR START */
.sideBarContainer {
  border-left: 1px solid black;
  box-shadow: -10px 0px 10px 1px #aaaaaa;
}

/*
#sidebar_container {
width: 100%;
  height: 15em;
  background: blue;
  display: flex;
  justify-content: left;
  flex-direction: column;
  border: 5px solid black; 
}
*/
/* SIDEBAR END */

.cart_products_list {
  height: 10em;
  width: 100%;
  background: orange;
  padding: 1.3em;
  margin: 0.5em;
  border: 5px solid red;
}

.Current-contact-info {
  border: 0.25em solid black;
  margin-left: 2em;
  max-width: 30rem;
  margin-bottom: 5em;
  background-color: rgb(246, 246, 246);
  box-shadow: 2px 2px 5px;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}
/* rtl:end:ignore */

/* Featurettes
------------------------- */
.productLink {
  color: green;
}
.productLink:hover {
  color: rgb(19, 73, 19);
  cursor: pointer;
}

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  /* rtl:remove */
  letter-spacing: -0.05rem;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }

  .list-group-item {
    margin-right: 1em;
  }
}

/* PRODUCTS IN MAIN */
@media (max-width: 768px) {
  .my-col-md-4 {
    flex-grow: 1;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .my-col-md-4 {
    flex: 0 0 auto;
    width: 50%;
  }
}

@media (min-width: 1000px) {
  .my-col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
}

@media (max-width: 768px) {
  .table-description {
    display: none;
  }
}

@media (max-width: 768px) {
  .hide-price {
    display: none;
  }
}

/* searchBar */
@media (min-width: 768px) {
  .small-view-search {
    display: none;
  }
}
